.planetsWrapper {
  background-image: url("../../assets/planet-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 314px;
  max-height: 100%;
  position: relative;
  border-radius: 10px;
}

.planets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.palanetItem2 {
  position: relative;
}

.palanetItem2 img {
  width: 130px;
  position: relative;
}

.levelProgress {
  background-image: url("../../assets/Planet-m.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.percent {
  position: relative;
  width: 130px;
  height: 130px;
}

.percent svg {
  position: relative;
  width: 130px;
  height: 130px;
  transform: rotate(270deg);
}

.percent svg circle {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.1);
  transform: translate(8px, 8px);
}

.percent svg circle:nth-child(2) {
  stroke-width: 2px;
  stroke: #fff;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  animation: animateStroke 2.5s forwards;
}

@keyframes animateStroke {
  to {
    stroke-dashoffset: calc(440px - (440px * var(--percent) / 124));
  }
}

.dot {
  position: absolute;
  inset: 11px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--percent)));
  animation: animateDot 2.5s forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--percent)));
  }
}

.dot::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.49);
}

.astronaut {
  position: absolute;
  content: "";
  z-index: 12;
  height: 64px;
  width: 64px;
  top: -18px;
  right: 18px;
  background-image: url("../../assets/Austronaut.svg");
}

.lablePercent {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  margin-bottom: 16px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
