.statsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.item {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 16px 24px;
  background: #28292b;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
}

.bar {
  width: 66px;
  height: 66px;
  margin-right: 24px;
}

.levelProgress {
  background-image: url("../../assets/Courses-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.levelProgress2 {
  background-image: url("../../assets/Folders-white.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.levelProgress3 {
  background-image: url("../../assets/Guideline.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.percent {
  position: relative;
  width: 66px;
  height: 66px;
}

.percent svg {
  position: relative;
  width: 66px;
  height: 66px;
  transform: rotate(270deg);
}

.percent svg circle {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.1);
  transform: translate(1px, 1px);
}

.percent svg circle:nth-child(2) {
  stroke-width: 2px;
  stroke: #fff;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  animation: animateStroke 2.5s forwards;
}

@keyframes animateStroke {
  to {
    stroke-dashoffset: calc(440px - (440px * var(--percent) / var(--all)));
  }
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.number {
  display: flex;
}

.text {
  margin-left: 6px;
}

.number span {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-right: 6px;
  margin-top: -2px;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 1202px) {
  .statsWrapper {
    margin-top: 16px;
  }
}
