.boardProgress {
  max-width: 264px;
  background: #28292b;
  border-radius: 10px;
  padding: 40px 30px;
  font-weight: 400;
  text-align: center;
}

.titleName {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.titleName img {
  margin-left: 12px;
}

.subtitle {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 28px;
}

.levelProgress {
  background-image: url("../../assets/Planet-m.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 176px;
  margin-bottom: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.percent {
  position: relative;
  width: 202px;
  height: 202px;
}

.percent svg {
  position: relative;
  width: 202px;
  height: 202px;
  transform: rotate(270deg);
}

.percent svg circle {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.1);
  transform: translate(1px, 1px);
}

.percent svg circle:nth-child(2) {
  stroke-width: 2px;
  stroke: #fff;
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  animation: animateStroke 2.5s forwards;
}

@keyframes animateStroke {
  to {
    stroke-dashoffset: calc(650px - (650px * var(--num) / 103));
  }
}

.dot {
  position: absolute;
  inset: 1px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: animateDot 2.5s forwards;
}

@keyframes animateDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}

.dot::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: -4px;
  transform: translate(-50%);
  border-radius: 50%;
  background: #fff;
  left: 100px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.49);
}

.levelValue {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #ffffff;
  width: 56px;
  position: absolute;
}
.lableLevel {
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
}

.nextLevel {
  font-size: 16px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1202px) {
  .boardProgress {
    max-width: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
