.home {
  padding: 32px;

  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.boardWrapper {
  display: flex;
  margin-bottom: 32px;
}

.addWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.analiticsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 24px;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 1;
  backface-visibility: hidden;
}

.fadeInUp {
  opacity: 1;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  backface-visibility: hidden;
}

@media (max-width: 1202px) {
  .home {
    padding: 18px;
  }
  .boardWrapper {
    display: block;
  }

  .analiticsWrapper {
    margin-top: 16px;
    margin-left: 0;
  }
}
