.searchForm {
  max-width: 380px;
}
.wrapperInput {
  padding: 8px 16px;
  background: #222325;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
}

.wrapperInput img {
  min-width: 24px;
}

.input {
  margin-left: 16px;
  background-color: #222325;
  border: none;
  color: #939495;
  outline: none;
  width: 100%;
}

input[type="text" i] {
  padding: 0;
}
